:root {
    --chineseBlack: #0f0e17;
    --chineseBlackBg: #0f0e17;
    --White: #fffffe;
    --americanOrange: #ff8906;
    --americanOrangeBg: #F9BC60;
    --crayola: #a7a9be;
    --crayolaBg: #a7a9be;
    --fireOpal: #f25f4c;
    --razzMatazz: #e53170;
}

.chineseBlack {
    color: var(--chineseBlack);
}

.chineseBlackBg {
    background: var(--chineseBlackBg);
}

.americanOrange {
    color: var(--americanOrange);
}

.americanOrangeBg {
    background: var(--americanOrangeBg);
}

.White {
    color: var(--White);
}

.crayola {
    color: #a7a9be;
}