.teamImage {
    position: relative;
}

.teamImage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.teamContent {
    position: absolute;
    top: 60vh;
    left: 40%;
    text-align: center;
}

.viewTeam {
    padding: 1rem;
    border-radius: 20px;
}